.header-main{
    color: #627994;
    text-shadow:  2px 2px white, 2px 2px 12px  #123867, -2px -2px 1px black;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
.subheader-main{
    color: #123867;
    text-shadow: 1px 1px 2px white, -2px -2px 3px #123867;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.header{
    color: gray;
    text-shadow: 2px 2px white, -2px -2px #123867;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 70px 0 40px 0;
    text-decoration: overline;
}
.subheader{
    color: rgb(195, 195, 203);
    text-shadow: 2px 2px black, -1px -1px black;
    font-size: 30px;
    font-weight: 700;
}