
.work{
    height: calc(100vh - 75px);
    padding-bottom: 20px;
    background: url("../image/korepetytor2.png") bottom (left/auto) no-repeat;
    // border-bottom: 1px solid #123867;
    box-shadow: -1px 0 5px #123867;
    &-wrapper{
        .container{
            background: url("../image/work-bg1.jpg") bottom (right/cover) no-repeat;
        }
    }
    &__subheader{
        padding-top: 7% !important;
        line-height: 1.4 !important;
        font-size: 36px !important;
        padding: 0 50px;
    }
    &__header{
        padding-top: 9% !important;
        padding: 0 40px;
        padding-left: 17%;
        line-height: 1.6;
    }
    &__descr{
        color: rgb(18, 56, 103);
        padding: 0 100px 0 0;
        padding-bottom: 0;
        font-size: 24px;
        line-height: 1.4;
        padding-top: 9%;
        text-align: center;
        padding-left: 28%;
        -ms-hyphenate-limit-chars: 1.2 !important;
    }
}
.work-options{
    background: rgba(13, 13, 25, 0.8);
    &__items{
        padding: 0 40px;
        display: flex;
        gap: 30px;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    &__item{
        background-image: linear-gradient(to left, #000036, #123867, #4a5e99 , #123867, #000036 );
        color: white;
        padding: 25px;
        border-radius: 5px 75px 5px 75px;
        width: 305px;
                &_header{
            text-align: center;
            padding-bottom: 25px;
            font-size: 22px;
            font-weight: 700;
            text-shadow: 1px 1px 5px gray;
        }
        &_descr{
            font-size: 17px;
            line-height: 1.4;
            color: rgba(255,255,255,0.7);
            text-shadow: 1px 1px black;
        }
    }
}
.work-preference{
    background: rgba(13, 13, 25, 0.8);
    &__wrapper{
        display: grid;
        grid-template-columns: 58% 40%;
    }
    &__descr{
        &_item{
            display: block;
            font-size: 22px;
            line-height: 2;
            text-align: center;
            text-shadow: 3px 3px 10px white, -3px -3px 10px white;
        }
        &_icon{
            height: 40px;
            margin-right: 25px;
            padding-top: 10px;
        }
    }
    &_img{
        width: 100%;
        height: auto;
    }
}
.work-form{
    padding: 0 40px 80px 40px;
    &__wrapper{
        display: grid;
        grid-template-columns: 40% 50%;
        gap: 5%;
        grid-template-rows: 1fr;
    }
    input{
        width: 100%;
        height: 35px;
        margin-bottom: 20px;
        padding: 2px 20px;
        border-radius: 5px 50px 5px 50px;
    }
    textarea{
        padding: 15px;
        width: 100%;
        height: 85%;
        resize: none;
        border-radius: 5px 75px 5px 75px;
    }

}
@media screen and(max-width:1200px){
    .work{
        &__subheader{
            padding-top: 6% !important;
            padding: 40px 10px 20px 40px;
        }
        &__header{
            padding-top: 3% !important;
        }
        &__descr{
            padding: 0 20px;
            padding-top: 3%;
        }
    }
}